.footer{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:  1fr 0.2fr 0.5fr;
    background-color: rgb(60, 60, 87);
    width:100%;
    bottom:0;
}

.btn1{
    align-self: end;
    height: 60%;
    grid-column-start : 2;
    grid-column-end :2;
    grid-row :1; 
}

.btn2{
    align-self: end;
    height: 60%;
    grid-column-start : 11;
    grid-column-end :11;
    grid-row :1; 
}

.viz1{
    align-self: center;
    text-align: center;
    grid-column-start : 6;
    grid-column-end :8;
    grid-row :1; 
}

.viz2{
    align-self: center;
    text-align: center;
    grid-column : 6;
    grid-row :2; 
}

.viz3{
    align-self: center;
    text-align: center;
    grid-column : 7;
    grid-row :2; 
}